:root {
  --color-blue: #0074d9; /* 511/1000 */
  --color-blue-6: #0f6ac6; /* 550/1000 */
  --color-blue-9: #18253f; /* 850/1000 */

  --color-black: #000000;
  --color-black-0: #f0f1f3; /* 50/1000 */
  --color-black-1: #e1e2e6;
  --color-black-2: #c4c6ce;
  --color-black-3: #a8abb7;
  --color-black-4: #8c90a0;
  --color-black-5: #717789;
  --color-black-6: #575e73;
  --color-black-7: #3e465e;
  --color-black-8: #253049;
  --color-black-9: #0e111a; /* 950/1000 */

  --color-white: #ffffff;

  --color-shadow-1: rgba(0, 0, 0, 0.25);

  --px-1: calc(1rem/16);
  --px-2: calc(2rem/16);
  --px-6: calc(6rem/16);
  --px-14: calc(14rem/16);
  --px-20: calc(20rem/16);

  --size-0: .25rem;
  --size-1: .5rem;
  --size-2: 1rem;
  --size-3: 1.5rem;
  --size-4: 2rem;
  --size-5: 2.5rem;
  --size-6: 3rem;
  --size-7: 3.5rem;
  --size-8: 4rem;

  --ts-0: calc(14rem/16);
  --ts-1: 1rem;
  --ts-2: calc(20rem/16);
}

* {
  box-sizing: border-box;
}

:focus {
  outline: var(--px-2) solid var(--color-blue-6);
  outline-offset: var(--px-2);
}

[contenteditable]:empty::before {
  color: var(--color-black-2);
  content: attr(placeholder);
}

[contenteditable]:focus {
  outline: none;
}

[hidden] {
  display: none;
}

[tabindex="-1"]:focus {
  outline: none;
}

body {
  color: var(--color-blue-9);
  font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 100%;
  line-height: var(--size-3);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--size-4);
  line-height: var(--size-5);
  margin: 0;
}

h2 {
  font-size: var(--size-3);
  line-height: var(--size-4);
  margin: 0;
  padding: var(--size-4) 0 0;
}

a:link {
  color: var(--color-black);
}

a:hover {
  color: var(--color-blue-6);
}

dt {
  color: var(--color-black-4);
}

dd,
dl,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

.content dt:not(:first-child),
.content ol:not(:first-child),
.content p:not(:first-child),
.content ul:not(:first-child) {
  padding-top: var(--size-3);
}

pre {
  overflow: scroll;
}

button {
  align-items: center;
  background-color: var(--color-black-0);
  border: var(--px-1) solid var(--color-black-1);
  border-radius: var(--size-0);
  box-shadow: inset 0 0 0 var(--px-1) var(--color-white);
  color: var(--color-black-7);
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: var(--size-2);
  height: var(--size-4);
  padding: 0 var(--size-1);
  white-space: nowrap;
}

button:hover {
  background-color: var(--color-black-1);
  border-color: var(--color-black-2);
  color: var(--color-black-8);
}

button:active {
  background-color: var(--color-black-1);
  border-color: var(--color-black-4);
  color: var(--color-black-8);
}

button:focus {
  border-color: var(--color-blue-6);
  outline: none;
}

button > hw-icon {
  padding-right: var(--size-1);
}

.button-icon {
  background-color: transparent;
  border: var(--px-1) solid transparent;
  box-shadow: none;
  color: var(--color-black-6);
  padding: 0 calc(7rem/16);
}

.button-icon:hover {
  background-color: var(--color-black-0);
}

.button-icon:hover:not(:focus) {
  border-color: transparent;
}

.button-icon > hw-icon {
  padding: 0;
}

input[type="search"],
input[type="text"] {
  background-color: var(--color-black-0);
  border: var(--px-2) solid var(--color-black-1);
  border-radius: var(--size-0);
  font-size: var(--ts-2);
  height: var(--size-5);
  padding: 0 var(--size-1);
  width: 100%;
}

input[type="search"]:focus,
input[type="text"]:focus {
  border-color: var(--color-blue-6);
  outline: none;
}

.list-plain {
  list-style-type: none;
}

.list-pagination li:not(:last-child)::after {
  color: var(--color-black-4);
  content: '/';
  padding: 0 var(--size-1);
}


/* Utils */

.bg-black-0 {
  background-color: var(--color-black-0);
}

.border {
  border: var(--px-1) solid var(--color-black-1);
}

.border-radius {
  border-radius: var(--size-0);
}

.border-bottom {
  border-bottom: var(--px-1) solid var(--color-black-1);
}

.color-text-light {
  color: var(--color-black-6);
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-gap-1 {
  margin: calc(var(--size-0) * -1);
}

.flex-gap-1 > * {
  margin: var(--size-0);
}

.flex-gap-2 {
  margin: calc(var(--size-1) * -1);
}

.flex-gap-2 > * {
  margin: var(--size-1);
}

.flex-grow {
  flex-grow: 1;
}

.flex-inline {
  display: inline-flex;
}

.flex-middle {
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.fs-0 {
  font-size: var(--ts-0);
}

.fs-1 {
  font-size: var(--ts-1);
}

.fs-2 {
  font-size: var(--ts-2);
}

.lh-3 {
  line-height: var(--size-3);
}

.lh-4 {
  line-height: var(--size-4);
}

.no-pointer-events {
  pointer-events: none;
}

.padding-b-2 {
  padding-bottom: var(--size-2);
}

.padding-l-1 {
  padding-left: var(--size-1);
}

.padding-l-5 {
  padding-left: var(--size-5) !important;
}

.padding-lr-1 {
  padding-left: var(--size-1);
  padding-right: var(--size-1);
}

.padding-lr-2 {
  padding-left: var(--size-2);
  padding-right: var(--size-2);
}

.padding-r-1 {
  padding-right: var(--size-1);
}

.padding-t-2 {
  padding-top: var(--size-2);
}

.padding-t-4 {
  padding-top: var(--size-4);
}

.padding-tb-0 {
  padding-bottom: var(--size-0);
  padding-top: var(--size-0);
}

.padding-1 {
  padding: var(--size-1);
}

.padding-2 {
  padding: var(--size-2);
}

.padding-4 {
  padding: var(--size-4);
}

.padding-8 {
  padding: var(--size-8);
}

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
