:root {
  --color-blue: #0074d9; /* 511/1000 */
  --color-blue-6: #0f6ac6; /* 550/1000 */
  --color-blue-9: #18253f; /* 850/1000 */

  --color-black: #000000;
  --color-black-0: #f0f1f3; /* 50/1000 */
  --color-black-1: #e1e2e6;
  --color-black-2: #c4c6ce;
  --color-black-3: #a8abb7;
  --color-black-4: #8c90a0;
  --color-black-5: #717789;
  --color-black-6: #575e73;
  --color-black-7: #3e465e;
  --color-black-8: #253049;
  --color-black-9: #0e111a; /* 950/1000 */

  --size-0: .25rem;
  --size-1: .5rem;
  --size-2: 1rem;
  --size-3: 1.5rem;
  --size-4: 2rem;
  --size-5: 2.5rem;
  --size-6: 3rem;
  --size-7: 3.5rem;
  --size-8: 4rem;
}

:focus {
  outline: calc(2rem/16) solid var(--color-blue-6);
  outline-offset: calc(2rem/16);
}

[hidden] {
  display: none;
}

body {
  color: var(--color-blue-9);
  font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 100%;
  line-height: var(--size-3);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--size-4);
  line-height: var(--size-5);
  margin: 0;
}

a:link {
  color: var(--color-black);
}

a:hover {
  color: var(--color-blue-6);
}

dt {
  color: var(--color-black-4);
}

dt:not(:first-child) {
  padding-top: var(--size-2);
}

dd,
dl,
p {
  margin: 0;
}

p:not(:first-child) {
  padding-top: var(--size-2);
}

button {
  align-items: center;
  background-color: var(--color-black-0);
  border: calc(1rem/16) solid var(--color-black-1);
  border-radius: var(--size-0);
  color: var(--color-black-7);
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: var(--size-2);
  height: var(--size-4);
  padding: 0 var(--size-1);
}

button:hover {
  background-color: var(--color-black-1);
  border-color: var(--color-black-2);
  color: var(--color-black-8);
}

button:active {
  background-color: var(--color-black-1);
  border-color: var(--color-black-4);
  color: var(--color-black-8);
}

button > hw-icon {
  padding-right: var(--size-0);
}

.list-plain {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-pagination li:not(:last-child)::after {
  color: var(--color-black-4);
  content: '/';
  padding: 0 var(--size-1);
}

.page {
  margin: 0 auto;
  max-width: 60rem;
}

.page__icon {
  font-size: var(--size-8);
  line-height: var(--size-8);
}

.page__body {
  margin: calc(var(--size-4) * -1);
}

.page__content {
  flex-basis: 45ch;
}

.page__info {
  flex-basis: 16rem;
}

/* Utils */

.border-bottom {
  border-bottom: calc(1rem/16) solid var(--color-black-1);
}

.flex-center {
  align-items: center;
  display: flex;
}

.flex-gap-2 {
  margin: calc(var(--size-1) * -1);
}

.flex-gap-2 > * {
  margin: var(--size-1);
}

.flex-grow {
  flex-grow: 1;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.lh-4 {
  line-height: var(--size-4);
}

.padding-b-2 {
  padding-bottom: var(--size-2);
}

.padding-t-2 {
  padding-top: var(--size-2);
}

.padding-t-4 {
  padding-top: var(--size-4);
}

.padding-1 {
  padding: var(--size-1);
}

.padding-2 {
  padding: var(--size-2);
}

.padding-4 {
  padding: var(--size-4);
}

.padding-8 {
  padding: var(--size-8);
}
